<app-zippy title="Title 1">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, eos.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sint voluptatum placeat aspernatur est fuga. Quisquam blanditiis alias exercitationem ducimus natus assumenda, commodi sequi incidunt at sint officiis, maxime delectus?</p>
</app-zippy>
<app-zippy title="Title 2">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, eos.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sint voluptatum placeat aspernatur est fuga. Quisquam blanditiis alias exercitationem ducimus natus assumenda, commodi sequi incidunt at sint officiis, maxime delectus?</p>
</app-zippy>
<div class="row">
  <div class="col-sm-6">
    <div class="form-row align-items-center mt-2">
      <div class="col-auto">
        <input type="text" class="form-control mb-2" (keyup.enter)="addBook(book)" #book>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2" (click)="addBook(book)">Add Book</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-danger float-right" (click)="removeAllBook()">
      <i class="ti-close"></i> Remove all books
    </button>
  </div>
</div>
<div @parentAnimation>
  <h1>All Books</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID(key)</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books | async"
      (@slide.start)="animationStart($event)"
      (@slide.done)="animationDone($event)"
      >
        <td>{{ book | json }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author}}</td>
        <td>{{ book.price }}</td>
        <td>
          <button class="btn btn-primary">
            <i class="ti-pencil" (click)="updateBook(book)"></i>
          </button>
          <button class="btn btn-danger" (click)="removeBook(book)" *ngIf="book.key !== '1'">
            <i class="ti-close"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
