
<div class="row">
  <div class="col-sm-6">
    <div class="form-row align-items-center mt-2">
      <div class="col-auto">
        <input type="text" class="form-control mb-2" (keyup.enter)="addCourse(course)" #course>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2" (click)="addCourse(course)">Add Course</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-danger float-right mt-2" (click)="removeAllBook()">
      <i class="ti-close"></i> Remove all courses
    </button>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID(key)</th>
      <th>Author</th>
      <th>Students</th>
      <th>Is Premium Member</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses | async">
      <td>{{ course | json }}</td>
      <td>{{ course.author }}</td>
      <td>{{ course.students}}</td>
      <td>{{ course.isPremium }}</td>
      <td>
        <button class="btn btn-primary">
          <i class="ti-pencil" (click)="updateCourse(course)"></i>
        </button>
        <button class="btn btn-danger" (click)="removeCourse(course)" *ngIf="course.key !== '1'">
          <i class="ti-close"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<h1 class="mt-2">Get Single Author</h1>
<p>{{ author | async | json }}</p>
<ul class="list-group" *ngIf="author | async as author">
  <li class="list-group-item">
    {{ author.name }}
  </li>
  <li class="list-group-item">
    {{ author.students }}
  </li>
  <li class="list-group-item">
    {{ author.isPremium }}
  </li>
</ul>
